* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#container-bacground-image {
    background-image: url("img/globe-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container-one {
    background-color: #071034ad;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    text-align: center;
    justify-content: center;
}

#container-one div>* {
    margin-bottom: 30px;
}

h1 {
    color: white;
    letter-spacing: 12px;
    font-weight: 790;
    font-size: 60px;
}

h3,
h4 {
    color: white;
}

#buttons>* {
    background-color: #7e55d7;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
}

i {
    color: white;
}

#search-country {
    width: 500px;
    font-size: 20px;
    padding: 5px 0;
    border-radius: 20px;
    border: none;
    outline: none;
}

#search-country::placeholder {
    text-align: center;
}

#search-country:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #128fb89f;
    padding: 5px 10px;
}

#container-two {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 60px;
    margin: 90px;
    grid-auto-rows: 150px;
}