* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 65px;
}

#name {
    font-size: 6vw;
    letter-spacing: 0.4em;
}

#features {
    display: flex;
    height: 90px;
    background-color: #eddfde;
    margin: 30px 0;
    padding: 34px 0;
    font-size: 20px;
}

#about-me {
    line-height: 25px;
    font-size: 15px;
}

#boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.box {
    width: 185px;
    height: 155px;
    text-align: center;
    line-height: 155px;
    font-size: 28px;
    box-shadow: 1px 1px 5px rgba(82, 80, 80, 0.435), 1px 1px 5px rgba(82, 80, 80, 0.435);
}

.box:hover {
    background-color: #eddfde;
    font-size: 32px;
}

#technologies {
    font-size: 15px;
    margin-top: 30px;
}

#technologies>span {
    font-size: 45px;
    margin-left: 5px;
    transition: opacity 2s;
}

.opacity {
    opacity: 0;
}

.non-opacity {
    opacity: 1;
}

#features>i>span {
    color: black;
    font-weight: 500;
    transition: opacity 2s, margin-left 2s;
}

.non-margin {
    margin-left: 0;
}

.margin {
    margin-left: 30px;
}