* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    margin: 50px;
    height: 800px;
}

#font {
    font-weight: 500;
    font-size: 800%;
    padding: 60px;
}

#font>span {
    transition: opacity 3s;
}

.opacity {
    opacity: 0;
}

.non-opacity {
    opacity: 1;
}