* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/galaxy.gif");
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    text-align: center;
    height: 750px;
}

header {
    text-align: center;
}

header h1 {
    color: white;
    text-shadow: 2px 2px #6565ac;
    font-size: 4vw;
}

#mass-input {
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

#planet-select {
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #6d6c6c;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#planet-area {
    min-width: 180px;
    max-width: 450px;
}

#planet-select option {
    background-color: #6d6c6c94;
}

.planet-main {
    background-color: rgba(74, 74, 74, 0.364);
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    min-height: 450px;
}

#description-area {
    color: white;
    background-color: rgba(74, 74, 74, 0.542);
    font-size: 25px;
    display: none;
    padding: 20px;
}

.description-area-calculate {
    padding: 100px;
    background-color: #444444cc;
    border-radius: 100%;
    max-width: 100px;
    position: relative;
}