* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#inputs-button {
    margin: 30px 0;
    text-align: center;
}

.inputs {
    padding: 10px 20px;
    border: 1px solid #e5c9c5;
    font-size: 15px;
    outline: none;
}

.inputs:focus {
    border: 1px solid #c98d84;
}

.button {
    padding: 10px 20px;
    background-color: #e5c9c5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
}

#players {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.buttons-action {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
}

.buttons-parrent {
    background-color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

.buttons-parrent>i {
    font-size: 15px;
    color: red;
    margin: auto;
}

.buttons-parrent>span {
    font-size: 15px;
}

.players-div {
    background-color: #e5c9c5;
    width: 100%;
    margin-bottom: 7px;
    display: block;
    padding: 10px 0;
}

.players-div span {
    display: inline-block;
    width: 23%;
}


.players-div span.buttons-action {
    display: inline-flex;
    width: 23%;
}

.players-div span:first-child {
    margin-left: 15px;
}

.inputs-button-required {
    color: red;
    margin-top: 20px;
    font-weight: 900;
}